/* Fonts */
@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-ExtraBold.woff2) format("woff2"),
        url(../fonts/MavenPro-ExtraBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Regular.woff2) format("woff2"),
        url(../fonts/MavenPro-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Medium.woff2) format("woff2"),
        url(../fonts/MavenPro-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Bold.woff2) format("woff2"),
        url(../fonts/MavenPro-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Css variables */
:root {
    --grey-black: #230f0f;
    --pink: #dc4298;
    --brown: #874444;
    --grey: #777795;
    --blue: #086bed;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Maven Pro","Arial", sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Link styles */
.main-link {
    background-color: var(--pink);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.4s;
}
.main-link:hover {
    background-color: inherit;
    color: var(--pink);
    border-color: var(--pink);
}

/* Header */
.site__header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.site__header-container {
    display: flex;
    align-items: center;
}
.site__header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: #313273;
    margin-right: auto;
}
.site__header-link:hover {
    opacity: 0.6;
}

.logo__img {
    width: 74px;
    height: 45px;
}

.sitenav__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.sitenav__item:not(:last-child) {
    margin-right: 45px;
}
.sitenav__link {
    color: var(--grey-black);
    text-decoration: none;
    transition: 0.4s;
}

.sitenav__link:hover {
    font-weight: bold;
    text-decoration: underline;
}
.site__header-btn {
    font-weight: bold;
    color: var(--pink);
    text-decoration: none;
    border: 1px solid var(--pink);
    padding: 13px 30px;
    border-radius: 5px;
    transition: 0.4s;
}

.site__header-btn:hover {
    color: var(--grey-black);
    border-color: var(--grey-black);
}

/* Main content */
.main-content {
    flex-grow: 1;
}

/* Hero section */
.hero__container {
    display: flex;
    align-items: center;
}

.hero__content {
    margin-top: 40px;
    margin-right: 50px;
}

.hero__content-title {
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: 800;
    color: var(--grey-black);
    line-height: 90px;
}
.hero__content-img {
    width: 393px;
    height: 14px;
}

.hero__content-text {
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--grey-black);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.hero__content-fedback__box {
    display: flex;
    align-items: center;
}

.hero__content-fedback__link {
    padding: 18px 30px;
    margin-right: 30px;
}

.hero__content-fedback__img {
    width: 296px;
    height: 60px;
}

.hero__img {
    width: 600px;
    height: 600px;
}

/* PARTNERS SECTION */
.partners {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 57px;
    padding-bottom: 47px;
}

.partners__container {
    display: flex;
    align-items: center;
}

.partners__main-link {
    margin-right: 84px;
    color: var(--grey-black);
    text-decoration: none;
    transition: 0.4s;
}
.partners__main-link:hover {
    color: var(--pink);
}

.partners__main-link__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-transform: capitalize;
}

.partners__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.partners__item:not(:last-child){
    margin-right: 35px;
}

.partners__item__link {
    transition: 0.4s;
}
.partners__item__link:hover {
    opacity: 0.6;
}

/* About us Section */
.about-us {
    margin-bottom: 22px;
    padding-top: 72px;
    padding-bottom: 68px;
}

.about-us__container {
    display: flex;
}

.about-us__img-box {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    margin-right: 100px;
}

.about-us__img {
    z-index: 1;
    width: 550px;
    height: 440px;
    border-radius: 14px;
}

.about-us__img-box__info {
    z-index: 100;
    margin-left: 35px;
    transform: translateY(-100px);
}
.about-us__img-box__info__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0.4px;
    color: #fff;
    margin: 0;
}

.about-us__img-box__info__text-box {
    display: flex;
    align-items: center;
    margin-top: -10px;
    padding: 0;
}

.about-us__img-box__info__text-img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.about-us__img-box__info__text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about-us__content {
    width: 100%;
}
.about-us__content__title {
    margin: 0;
    color: var(--grey-black);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.4px;
}

.about-us__content__text {
    margin-top: 30px;
    margin-bottom: 35px;
    color: var(--grey-black);
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.5px;
}

.about-us__content__link {
    padding: 20px 32px;
}